<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeysi.chandaraproject">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapp"
        android:label="CommuniTask"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TheirProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".insightsact.eco3Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.eco2Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.eco1Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.food3Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.food2Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.food1Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.govid3Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.govid2Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.govid1Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.educ3Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.educ2Activity"
            android:exported="false" />
        <activity
            android:name=".insightsact.educ1Activity"
            android:exported="false" />
        <activity
            android:name=".Splash1Activity"
            android:exported="true" />
        <activity
            android:name=".Splash2Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />

        <service android:name=".notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>


            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jeysi.chandaraproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
            />
        </provider>
    </application>

</manifest>